<%= form_for(@kudo) do |f| %>
  <% if @kudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kudo.errors.count, "error") %> prohibited this kudo from being saved:</h2>

      <ul>
      <% @kudo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, rows: "4", cols: "40", placeholder: "Leave a Kudo for this company." %>
  </div>

  <div class="field">
    <%= f.label :company %><br>
    <%= collection_select(:company, :company_id, Company.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
