<%= form_for @kudo, html: { class: 'form-horizontal' } do |f| %>
  <% if @kudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kudo.errors.count, "error") %> prohibited this kudo from being saved:</h2>

      <ul>
      <% @kudo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :company %><br>
    <%= text_field_tag :query, params[:query], placeholder: 'Company name.....', class: "autocomplete" %><br>
    <%= f.hidden_field :company_id, class: "company_id" %>
  </div>

  <div class="form-group">
    <%= f.label :relationship %><br>
    <%= select_tag :relationship, options_for_select(Kudo::RELATIONSHIP), prompt: "Select your relationship" %>
  </div>

  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, rows: "4", cols: "40", placeholder: "Leave a Kudo for this company." %>
  </div>

  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
