<div class="form-container">
  <div class="well">
    <%= form_for @kudo, url: kudos_path, html: { multipart: true, class: 'form-horizontal' } do |f| %>
      <% if @kudo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@kudo.errors.count, "error") %> prohibited this kudo from being saved:</h2>

          <ul>
          <% @kudo.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <legend>Give Kudo</legend>
        <div class="form-group">
          <%= f.label :company, class: 'control-label autocomplete' %>
          <div class="">
            <%= text_field_tag :query, params[:query], placeholder: 'Company name.....', class: "form-control autocomplete" %>
            <%= f.hidden_field :company_id, class: "company_id" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :relationship, class: 'control-label' %>
          <div class="">
            <%= f.select :relationship, options_for_select(Kudo::RELATIONSHIP), { prompt: "Select your relationship"}, { class: 'form-control' } %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :image, class: 'control-label' %>
          <div class="">
            <%= f.file_field :image, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :comment, class: 'control-label' %>
          <div class="">
            <%= f.text_area :comment, rows: "4", cols: "40", class: "form-control", placeholder: "Leave a Kudo for this company." %>
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>