<p id="notice"><%= notice %></p>

<div class="col-sm-8">
  <div class="company-container">
    <div class="company-icon-wrapper">
      <img src="http://lorempixel.com/250/150/sports/">
    </div>
    <div class="company-detail-wrapper">
      <h2><%= @company.name %></h2>
      <p><%= "#{@company.address}, #{@company.city}, #{@company.state} #{@company.zip_code}" %><br>
      <%= @company.phone %> | 
      <%= link_to @company.main_url, @company.main_url, target: "_blank" %><br>
      <%- if @company.career_url? %>
        <strong>careers:</strong>
        <%= link_to @company.career_url, @company.career_url, target: "_blank" %>
      <%- end %>
      </p>

      <%= link_to 'Suggest an Edit', edit_company_path(@company) %>
    </div>
  </div>

  <div class="kudo-container">
    <div class="kudo-icon-wrapper">
      <img src="http://lorempixel.com/40/40/">
    </div>
    <div class="kudo-detail-wrapper">
    <%= form_for @kudo, html: { class: 'form-horizontal' } do |f| %>

      <%= f.hidden_field :company_id, value: @company.id %>

      <div class="form-group">
        <%= f.label :relationship %><br>
        <%= select_tag :relationship, options_for_select(Kudo::RELATIONSHIP), prompt: "Select your relationship" %>
      </div>

      <div class="form-group">
        <%= f.label :comment %><br>
        <%= f.text_area :comment, rows: "4", cols: "40", placeholder: "Leave a Kudo for this company." %>
      </div>

      <div class="form-group">
        <%= f.submit %>
      </div>
    <% end %>
    </div>
  </div>

  <div class="kudo-container">
    <ul class="kudo-list">

      <% @company.kudos.each do |kudo| %>
      <li class="kudo">
        <div class="kudo-icon-wrapper">
          <img src="http://lorempixel.com/40/40/sports/">
        </div>
        <div class="kudo-detail-wrapper">
          <p><%= kudo.comment %></p>
        </div>
      </li>
      <% end %>

    </ul>
  </div>
</div>

<div class="col-sm-4">
  <div id='map2' style='width: 100%; height: 300px;'></div>
  <%= javascript_tag do %>
  var map2 = L.mapbox.map('map2', 'cubicalweb.iejodo9f')
      .setView(['<%= @company.latitude %>', '<%= @company.longitude %>'], 15);
  L.mapbox.featureLayer({
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [
            '<%= @company.longitude %>',
            '<%= @company.latitude %>' 
          ]
      },
      properties: {
          title: '<a href="<%= @company.main_url %>" target="_blank"><%= @company.name %></a>',
          description: '<%= @company.address %>',
          title2: '<%= @company.name %>',
          'marker-size': 'large',
          'marker-color': '#BE9A6B',
          'marker-symbol': 'star'
      }
  }).addTo(map2);
  <% end %>

  <br>
  <h3 class="text-center">Other Nearby Companies</h3>

  <% for company in @company.nearbys(10).limit(3) %>
    <div class="closeby-company">
     <h3><%= link_to company.name, company %></h3>
     <%= company.address %><br>
     <%= "#{company.city}, #{company.state} #{company.zip_code}" %><br>
     <%= company.phone %><br>
    </div>
  <% end %>

</div>
