<p id="notice"><%= notice %></p>

<div class="col-sm-8">
  <div class="company-container">
    <div class="company-icon-wrapper">
      <img src="http://placehold.it/100x100">
    </div>
    <div class="company-detail-wrapper">
      <h2><%= @company.name %></h2>
      <p><%= "#{@company.address}, #{@company.city}, #{@company.state} #{@company.zip_code}" %><br>
      <%= @company.phone %> | 
      <%= link_to @company.main_url, @company.main_url, target: "_blank" %><br>
      <%- if @company.career_url? %>
        <strong>careers:</strong>
        <%= link_to @company.career_url, @company.career_url, target: "_blank" %>
      <%- end %>
      </p>

      <%= link_to 'Suggest an Edit', edit_company_path(@company) %>
    </div>
  </div>

  <div class="kudo-container">
    <div class="kudo-icon-wrapper">
      <img src="http://placehold.it/50x50">
    </div>
    <div class="kudo-detail-wrapper">
    <%= form_for @company, html: { class: 'form-horizontal' } do |f| %>
      <div class="form-group">
        <div class="col-lg-10">
          <%= f.text_area :kudos, rows: "4", cols: "40", placeholder: "Leave a Kudo for this company." %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div class="kudo-container">
    <ul class="kudo-list">
      <li class="kudo">
        <div class="kudo-icon-wrapper">
          <img src="http://placehold.it/50x50">
        </div>
        <div class="kudo-detail-wrapper">
          <p>The Lee brothers took Andrew to a restaurant known for serving a traditional southern comfort food --boiled green peanuts. As seen on Bizarre Foods America.<br>
          Travel Channel · March 2, 2012</p>
          <p>The Lee brothers took Andrew to a restaurant known for serving a traditional southern comfort food --boiled green peanuts. As seen on Bizarre Foods America.<br>
          Travel Channel · March 2, 2012</p>
        </div>
      </li>

      <li class="kudo">
        <div class="kudo-icon-wrapper">
          <img src="http://placehold.it/50x50">
        </div>
        <div class="kudo-detail-wrapper">
          <p>The Big Nasty Biscuit and Gravy is awesome. Try the fried green tomatoes. The sweet tea is one of the best I've had. This place has been featured on all the big Food and Travel shows.<br>
          Stephen Bellingham · August 18, 2010</p>
          <p>The Lee brothers took Andrew to a restaurant known for serving a traditional southern comfort food --boiled green peanuts. As seen on Bizarre Foods America.<br>
          Travel Channel · March 2, 2012</p>
        </div>
      </li>
      
      <li class="kudo">
        <div class="kudo-icon-wrapper">
          <img src="http://placehold.it/50x50">
        </div>
        <div class="kudo-detail-wrapper">
          <p>One of my favorite places in Charleston! Get the big nasty biscuit followed by chocolate pudding! Both featured on Food Network and you can definitely see why!<br>
          Johnny B · October 8, 2012</p>
          <p>The Lee brothers took Andrew to a restaurant known for serving a traditional southern comfort food --boiled green peanuts. As seen on Bizarre Foods America.<br>
          Travel Channel · March 2, 2012</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="col-sm-4">
  <!-- <div id='map2' style='width: 100%; height: 200px;'></div> -->
  <%= javascript_tag do %>
  var map2 = L.mapbox.map('map2', 'cubicalweb.iejodo9f')
      .setView(['<%= @company.latitude %>', '<%= @company.longitude %>'], 15);
  L.mapbox.featureLayer({
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [
            '<%= @company.longitude %>',
            '<%= @company.latitude %>' 
          ]
      },
      properties: {
          title: '<a href="<%= @company.main_url %>" target="_blank"><%= @company.name %></a>',
          description: '<%= @company.address %>',
          title2: '<%= @company.name %>',
          'marker-size': 'large',
          'marker-color': '#BE9A6B',
          'marker-symbol': 'star'
      }
  }).addTo(map2);
  <% end %>

  <br>
  <h3 class="text-center">Other Companies Nearby</h3>

  <% for company in @company.nearbys(10).limit(3) %>
    <div class="closeby-company">
     <h3><%= link_to company.name, company %></h3>
     <%= company.address %><br>
     <%= "#{company.city}, #{company.state} #{company.zip_code}" %><br>
     <%= company.phone %><br>
    </div>
  <% end %>

</div>

