<p id="notice"><%= notice %></p>


<div id='map2' style='width: 800px; height: 400px;'></div>

<%= javascript_tag do %>
var map2 = L.mapbox.map('map2', 'cubicalweb.iejodo9f')
    .setView(['<%= @company.latitude %>', '<%= @company.longitude %>'], 15);

L.mapbox.featureLayer({
    type: 'Feature',
    geometry: {
        type: 'Point',
        coordinates: [
          '<%= @company.longitude %>',
          '<%= @company.latitude %>' 
        ]
    },
    properties: {
        title: '<%= @company.name %>',
        description: '<%= @company.address %>',
        'marker-size': 'large',
        'marker-color': '#BE9A6B',
        'marker-symbol': 'star'
    }
}).addTo(map2);

<% end %>


<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @company.zip_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Main url:</strong>
  <%= link_to @company.main_url, @company.main_url %>
</p>

<p>
  <strong>Career url:</strong>
  <%= link_to @company.career_url, @company.career_url %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @company.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @company.longitude %>
</p>


<h3>Nearby Companies (within 2 miles)</h3>
<ul>
<% for company in @company.nearbys(5) %>
  <li><%= link_to company.name, company %> (<%= company.distance.round(2) %> miles)</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
