<div id="footer">
  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li><%= link_to "About Us", welcome_about_path %></li>
      <li><%= link_to "Contact", welcome_contact_path %></li>
      <li><%= link_to "Employer", welcome_employer_path %></li>
      <li><%= link_to "Terms of Service", welcome_terms_path %></li>
      <li><%= link_to "Privacy Policy", welcome_privacy_path %></li>
    </ul>
  </div>
</div>
